<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Editar Música</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-light bg-light">
				<span class="navbar-brand mb-0 h1" style="font-weight: bold">
					<a href="/music">Catalogo de Músicas  - Adicionar Nova Música</a>
				</span>
			</nav>
		</header>

		<section>
			<div class="container" style="width: 60%; padding-bottom: 30px">
				<div>
					<div>
						<th:block th:include="errorMessage"></th:block>
					</div>

					<form method="post">
						<div class="form-group">
							<input
								type="text"
								class="form-control"
								name="title"
								placeholder="Título *"
								th:value="${music.title}"
							/>
						</div>
						<div class="form-group">
							<input
								type="text"
								class="form-control"
								name="author"
								placeholder="Autor *"
								th:value="${music.author}"
							/>
						</div>

						<textarea
							id="summernote"
							type="text"
							class="form-control"
							name="lyrics"
							placeholder="Letra *"
							th:field="${music.lyrics}"
						></textarea>

						<small class="form-text text-muted"
							>(*) Campos obrigatórios</small
						>

						<button
							type="submit"
							class="btn btn-primary"
							style="margin-top: 10px"
						>
							Salvar
						</button>

						<a
							href="/music"
							class="btn btn-light"
							role="button"
							style="margin-top: 10px"
							>Cancelar</a
						>
					</form>
				</div>
			</div>
		</section>
	</body>
</html>
